@media all and (max-width: 768px) {
    .message-send {
        height: 10vh;
    }

    .message-send form input {
        font-size: 16px;
        width: 50%;
    }

    .message-send form button {
        width: 50%;
    }
}

.message-send {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid dodgerblue;
    height: 7vh;
}

.message-send form {
    height: 100%;
}

.message-send form button {
    height: 100%;
}

.message-send input {
    padding: .5rem;
    height: 32px;
    width: 80%;
    margin: 0;
    border: 0;
    font-size: 13px;
    line-height: 32px;
}

.message-send button {
    margin: 0;
    width: 20%;
    border: 0;
    padding: 0;
    background-color: dodgerblue;
    font-size: 13px;
    color: white;
}