@media all and (max-width: 320px) {
    .message-send form input {
        width: 100%;
    }

    .message-send form button {
        display: none;
    }
}

@media all and (max-width: 768px) {
    .message-send {
        height: 10vh;
    }

    .message-send form input {
        font-size: 16px;
        width: 85%;
    }

    .message-send form button {
        width: 15%;
    }
}

.message-send {
    position: absolute;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 15px #CCC;
    height: 7vh;
    background-color: white;
}

.message-send form {
    height: 100%;
}

.message-send form button {
    height: 100%;
}

.message-send input {
    padding: .5rem;
    height: 32px;
    width: 80%;
    margin: 0;
    border: 0;
    font-size: 13px;
    line-height: 32px;
}

.message-send button {
    margin: 0;
    width: 20%;
    border: 0;
    padding: 0;
    background-color: #333;
    font-size: 13px;
    color: white;
}