.message-container {
  padding: .3rem .75rem;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 300;
  border-radius: 5px;
}

.message-container.me {
  margin: 0 .25rem .75rem 1.5rem;
  box-shadow: 1px 1px 3px #EEE;
}

.message-container.other {
  margin: 0 1.5rem .75rem .25rem;
  background-color: rgba(243, 243, 243, 0.42);
}

.message-container .message {
  display: block;
  padding-left: 1rem;
  padding-top: .15rem;
  padding-bottom: .15rem;
}