.message-container:first-child {
  border-top: 0;
}

.message-container {
  padding: .3rem .15rem;
  margin: 0;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 300;
  border-top: 1px solid #EEE;
}

.message-container .message {
  display: block;
  padding-left: 1rem;
  padding-top: .15rem;
  padding-bottom: .15rem;
}